In [1]:
import pandas as pd

In [21]:
data = {'city': [], 'date': [], 'temperature': []}

In [23]:
data['city'].extend(['surat','surat','surat'])
data['date'].extend(['2024-03-04', '2024-03-05', '2024-03-06'])
data['temperature'].extend([25.5, 26.0, 24.5])

In [24]:
data['city'].extend(['gandhinagar','gandhinagar','gandhinagar'])
data['date'].extend(['2024-03-04', '2024-03-05', '2024-03-06'])
data['temperature'].extend([30.5, 28.0, 26.5])

In [25]:
data['city'].extend(['jaipur','jaipur','jaipur'])
data['date'].extend(['2024-03-04', '2024-03-05', '2024-03-06'])
data['temperature'].extend([20.5, 31.2, 29.5])

In [26]:
data['city'].extend(['mumbai','mumbai','mumbai'])
data['date'].extend(['2024-03-04', '2024-03-05', '2024-03-06'])
data['temperature'].extend([23.5, 26.3, 28.5])

In [28]:
data['city'].extend(['nadiad','nadiad','nadiad'])
data['date'].extend(['2024-03-04', '2024-03-05', '2024-03-06'])
data['temperature'].extend([26.3, 22.7, 34.5])

In [29]:
data['city'].extend(['himatnagar','himatnagar','himatnagar'])
data['date'].extend(['2024-03-04', '2024-03-05', '2024-03-06'])
data['temperature'].extend([23.5, 22.0, 24.8])

In [30]:
data

{'city': ['surat',
  'surat',
  'surat',
  'gandhinagar',
  'gandhinagar',
  'gandhinagar',
  'jaipur',
  'jaipur',
  'jaipur',
  'mumbai',
  'mumbai',
  'mumbai',
  'nadiad',
  'nadiad',
  'nadiad',
  'himatnagar',
  'himatnagar',
  'himatnagar'],
 'date': ['2024-03-04',
  '2024-03-05',
  '2024-03-06',
  '2024-03-04',
  '2024-03-05',
  '2024-03-06',
  '2024-03-04',
  '2024-03-05',
  '2024-03-06',
  '2024-03-04',
  '2024-03-05',
  '2024-03-06',
  '2024-03-04',
  '2024-03-05',
  '2024-03-06',
  '2024-03-04',
  '2024-03-05',
  '2024-03-06'],
 'temperature': [25.5,
  26.0,
  24.5,
  30.5,
  28.0,
  26.5,
  20.5,
  31.2,
  29.5,
  23.5,
  26.3,
  28.5,
  26.3,
  22.7,
  34.5,
  23.5,
  22.0,
  24.8]}

In [32]:
df=pd.DataFrame(data)
df

           city        date  temperature
0         surat  2024-03-04         25.5
1         surat  2024-03-05         26.0
2         surat  2024-03-06         24.5
3   gandhinagar  2024-03-04         30.5
4   gandhinagar  2024-03-05         28.0
5   gandhinagar  2024-03-06         26.5
6        jaipur  2024-03-04         20.5
7        jaipur  2024-03-05         31.2
8        jaipur  2024-03-06         29.5
9        mumbai  2024-03-04         23.5
10       mumbai  2024-03-05         26.3
11       mumbai  2024-03-06         28.5
12       nadiad  2024-03-04         26.3
13       nadiad  2024-03-05         22.7
14       nadiad  2024-03-06         34.5
15   himatnagar  2024-03-04         23.5
16   himatnagar  2024-03-05         22.0
17   himatnagar  2024-03-06         24.8

In [36]:
avg_tem_per_city = df.groupby('city')['temperature'].mean()
avg_tem_per_city

city
gandhinagar    28.333333
himatnagar     23.433333
jaipur         27.066667
mumbai         26.100000
nadiad         27.833333
surat          25.333333
Name: temperature, dtype: float64

In [40]:
city_highest_avg_temp = average_temperature_per_city.idxmax()
city_highest_avg_temp

'gandhinagar'

In [42]:
highest_avg_temp = average_temperature_per_city.max()
highest_avg_temp

28.333333333333332

In [46]:
lowest_temp_date = df.loc[df['temperature'].idxmin()]['date']
lowest_temp_date

'2024-03-04'

In [47]:
lowest_temp = df['temperature'].min()
lowest_temp

20.5